// .banner {
//   position: fixed;
//   top: 0;
//   left: 0;
//   // background-color: rgba($color-secondary, 0.9);

//   // display: block;
//   text-align: center;
//   width: 100vw;
//   // padding: 1rem 2rem;
//   z-index: 100;

//   &__checkbox:checked ~ &__box {
//     // display: none;
//     // visibility: hidden;
//     background-color: orangered;
//   }

//   &__box {
//     display: flex;
//     justify-content: space-evenly;
//     background-image: linear-gradient(
//       to right,
//       rgba($color-secondary, 0.9),
//       rgba($color-pink, 0.9)
//     );
//     transition: all 0.2s;
//   }
//   &__text {
//     align-self: center;
//     justify-self: center;
//     p {
//       font-size: 2rem;
//     }
//   }
//   //FIXME: TROUBLE CONFIGURING BANNER CLOSE
//   &__close {
//     justify-self: flex-end;
//     align-self: flex-end;
//     // &--checkbox {
//     //   display: none;
//     // }

//     &--icon {
//       font-size: 4rem;
//       line-height: 1.7;
//       a:link,
//       a:visited {
//         text-decoration: none;
//         color: $color-grey-dark;
//         transition: all 0.2s;
//         cursor: pointer;
//       }
//       a:hover {
//         transform: rotate(360deg);
//       }
//     }
//   }
// }

.banner {
  background-color: $color-site-grey;
  border: 1px solid rgba(#fff, 0.1);

  box-shadow: 0 1rem 1rem rgba(#000, 0.3);
  height: 8rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  // position: absolute;
  // top: 10rem;
  margin-top: 10rem;

  p {
    color: $color-white;
    font-size: $default-font-size;
  }
  a {
    color: #fff;
  }
}
//set <main> to relative positioning
