.feature-box {
  background-image: linear-gradient(
    to bottom right,
    rgba(#fff, 0.4),
    rgba(#fff, 0.6)
  );
  border: 1px solid RGBA(#fff, 0.9);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 1.5rem 4rem rgba($color-grey-dark, 0.15);
  transition: all 0.3s;
  backdrop-filter: blur(5px);
  //transform: skewY(6deg);

  @include react(dark) {
    background-color: rgba($color-grey-dark, 0.95);
  }

  &__text {
    color: #232323;

    @include react(dark) {
      color: $color-white;
    }
  }
  h3 {
    color: #232323;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03); //skewY(6deg);
  }
  &:hover &__icon--p2p {
    animation: aniP2P 3s infinite;
  }
  &:hover &__icon--hammer {
    animation: aniHammer 3s infinite;
  }
  &:hover &__icon--flask {
    animation: aniFlask 8s infinite;
  }
  &:hover &__icon--mag {
    animation: aniMag 8s infinite;
  }
  &__icon {
    font-size: 6rem;
    color: #232323;

    @include react(dark) {
      color: #232323;
    }
  }
}

.section__ip--overview--hero-box {
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1.5rem rgba($color-black, 0.15);
  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: 0 1rem 3rem rgba($color-black, 0.15);
  }
}
.section__ssw-asp--overview--hero-box {
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1.5rem rgba($color-black, 0.15);
  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: 0 1rem 3rem rgba($color-black, 0.15);
  }
}
.section__overview--hero-box {
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1.5rem rgba($color-black, 0.15);
  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: 0 1rem 3rem rgba($color-black, 0.15);
  }
}
