.a-sync__header {
  padding: 0 5rem;
  display: flex;
  // height: 70vh;
  align-items: center;
  justify-content: center;
  width: 100%;

  @include respond(tab-port) {
    flex-wrap: wrap;
  }

  &--img {
    height: auto;
    width: 40%;
  }

  &--text {
    justify-self: flex-end;
    flex-basis: 33%;

    @include respond(tab-port) {
      flex-basis: 100%;
    }
    h1 {
      @include helvetLight;
      font-size: 4rem;
      font-weight: 100;
      line-height: 1;

      span {
        font-size: 2.5rem;
        font-weight: 300;
      }
    }
    h2 {
      font-size: $default-font-size;
      font-weight: 300;
    }
  }
}
