
.section__overview--ell {
  background-image: 
    linear-gradient(rgba($color-black, .5), 
    rgba($color-black, .3)), 
    url(https://www.ucdenver.edu/images/librariesprovider132/lrc-css-img/hero/hero-ell-1.jpg?sfvrsn=9118c4ba_2);
  background-size: cover;
  background-attachment: fixed;
  padding: 15rem 0;
}

.section__lrc--ell {
  background-color: $color-white;
  padding: 15rem 0;
  //margin-top: -17rem;
    &--col {
      hyphens: auto;
    }
    &--text {
      border-bottom: 1px solid $color-grey-lighter;
    }
    &--img {
      img {
        width: 100%;
      }
    }

  }