.section__si-overview {
  background-color: $color-white;
  padding: 10rem 0;
  //transform: skewY(-6deg);
  margin-top: -7rem;

  /*& > * {
    transform: skewY(6deg);
  }*/
}
.si__popup--link:visited,
.si__popup--link:link {
  text-decoration: none;
  color:$color-grey-dark;
  border-bottom: 1px solid $color-grey-dark;
}