.section__services--ssw {
  background-color: $color-grey-lighter;
  padding: 10rem 0;
  //height: 100vh;

  @include react(dark) {
    background-color: $color-site-grey;
  }
}

.section__student-lingo {
  background-image: linear-gradient(
      to bottom right,
      rgba($color-black, 0.3),
      rgba($color-black, 0.5)
    ),
    url(https://www.ucdenver.edu/images/librariesprovider132/lrc-css-img/hero/hero-ssw-img-resp/hero-ssw-1-min.jpg?sfvrsn=cbfcc1ba_2);
  background-size: cover;
  background-attachment: fixed;
  padding: 10rem 0;
  //height: 100vh;

  @include respond(phone) {
    background-image: none;
    background-color: $color-teal;
  }
}

.section__overview--ssw {
  background-color: $color-white;
  padding: 10rem 0;

  @include react(dark) {
    background-color: $color-grey-light;
  }
}

.section-schedule {
  padding: 10rem 0;
  background-color: $color-white;

  @include react(dark) {
    background-color: $color-grey-dark;
  }
}

.table-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 2rem;
  // align-items: center;

  &__text {
    margin-right: 3rem;
    order: 2;
  }
  &__btn {
    // flex: 0 0 150%;
    margin-bottom: 3rem;

    a {
      width: 100%;
    }
  }
}

//////////////////
//TABS STYLING
//////////////////

.ssw__tabs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-top: 10px solid $color-grey-light;

  &--label {
    padding: 1rem 1.6rem;
    width: 45%;
    cursor: pointer;
    font-size: 1.7rem;
    text-align: center;
    color: $color-primary;
    background-color: $color-grey-dark;

    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.2s;
  }
  &--radio {
    display: none;
  }
  &--content {
    order: 1;
    width: 100%;
    // line-height: 1.6;
    // font-size: $default-font-size;
    display: none;
    padding: 5rem 3rem;

    ul {
      list-style: none;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 1rem;
      width: 100%;
    }
    ul li {
      background: $color-primary;
      padding: 2rem 3rem;
      border-radius: 20px;
      width: 20rem;
      height: 20rem;
      color: #000;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      ion-icon {
        font-size: 3rem;
      }
    }

    &--text {
      display: flex;
      gap: 3rem;

      @include respond(tab-port) {
        flex-wrap: wrap;
      }
    }

    &--text-box {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 2rem 5rem;
      flex-wrap: wrap;
      gap: 3rem;

      div {
        display: flex;
        // flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
      p {
        font-size: $default-font-size;
      }
      h2 {
        @include helvetLight;
        font-weight: 100;
        font-size: 2.75rem;
        margin-bottom: 1.5rem;
        width: 100%;
        text-align: center;
        a {
          text-decoration: underline;
          &:link,
          &:visited {
            color: $color-teal-dark;
            transition: all 0.2s;
            // border-bottom: 1px solid $color-teal-dark;
          }
          &:hover,
          &:active {
            color: $color-secondary;
            // border-bottom: 1px solid $color-secondary;
          }
        }
      }
    }
  }
}

.ssw__tabs--content--review-span {
  border-top: 1px solid $color-grey-dark;
}

.ssw__review-span {
  border-top: 0.5rem solid $color-grey-dark;
  width: 100%;
  flex-direction: column;
  p {
    font-size: 1.7rem;
  }
}

.ssw__tabs--content--review-span,
.ssw__review-span {
  flex-basis: max-content;
  display: flex;

  align-items: center;
  justify-content: space-evenly;

  margin-top: 1rem;
  padding: 2rem 3rem;
  a {
    font-size: 1.7rem;
    color: $color-teal-dark;
    transition: all 0.2s;

    &:hover,
    &:active {
      color: $color-secondary;
    }
  }
}

.ssw__tabs--radio:checked + .ssw__tabs--label {
  font-weight: bold;
  color: #fff;
  background-color: $color-grey-light;
  // box-shadow: 1rem 1rem 0 $color-secondary;
}

.ssw__tabs--radio:checked + .ssw__tabs--label + .ssw__tabs--content {
  display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  gap: 3rem;

  @include respond(tab-port) {
    flex-wrap: wrap;
    flex-basis: 100%;
  }
}

.ssw__tabs--container {
  width: 100vw;
  background: #eee;
}
